<div class="wrapper h-100">
  <!--Top menu -->
  <div class="sidebar">
    <ul>
      <li>
        <a [routerLink]="['/groups']" [routerLinkActive]="'active'">
          <span class="item">Groups</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['teacher-list']" [routerLinkActive]="'active'">
          <span class="item">Teachers</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['student-list']" [routerLinkActive]="'active'">
          <span class="item">Students</span>
        </a>
      </li>
    </ul>
  </div>
</div>
