<div>
  <div (mouseleave)="showDropDown = false">
    <button class="drop-toggle btn flat w-100" (click)="showDropDown=!showDropDown">
      <span>{{checkedList.length ? checkedList.join(', '): 'select'}}</span>
      <i class="fa fa-angle-down"></i>
    </button>
    <div class="drop-show" *ngIf="showDropDown">
      <label *ngFor="let a of list">
        <input type="checkbox" [(ngModel)]="a.checked"
               (change)="getSelectedValue(a.checked, a)" />
        <span>{{a['name']}}</span>
      </label>
    </div>
  </div>
</div>
